In [1]:
%%bash

mkdir gtfs
cd gtfs
wget http://github.com/transitland/gtfs-archives-not-hosted-elsewhere/raw/master/amtrak.zip
unzip amtrak.zip
rm amtrak.zip

Archive:  amtrak.zip
  inflating: agency.txt
   creating: __MACOSX/
  inflating: __MACOSX/._agency.txt
  inflating: calendar.txt
  inflating: __MACOSX/._calendar.txt
  inflating: routes.txt
  inflating: __MACOSX/._routes.txt
  inflating: stop_times.txt
  inflating: __MACOSX/._stop_times.txt
  inflating: stops.txt
  inflating: __MACOSX/._stops.txt
  inflating: transfers.txt
  inflating: __MACOSX/._transfers.txt
  inflating: trips.txt
  inflating: __MACOSX/._trips.txt

--2017-04-19 22:37:20--  http://github.com/transitland/gtfs-archives-not-hosted-elsewhere/raw/master/amtrak.zip
Resolving github.com... 192.30.253.112, 192.30.253.113
Connecting to github.com|192.30.253.112|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/transitland/gtfs-archives-not-hosted-elsewhere/raw/master/amtrak.zip [following]
--2017-04-19 22:37:20--  https://github.com/transitland/gtfs-archives-not-hosted-elsewhere/raw/master/amtrak.zip
Connecting to github.com|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/transitland/gtfs-archives-not-hosted-elsewhere/master/amtrak.zip [following]
--2017-04-19 22:37:21--  https://raw.githubusercontent.com/transitland/gtfs-archives-not-hosted-elsewhere/master/amtrak.zip
Resolving raw.githubusercontent.com... 151.101.20.133
Connecting to raw.githubusercontent.com|151.101.20.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 197979 (193K) [application/zip]
Saving to: ‘amtrak.zip’

     0K .......... .......... .......... .......... .......... 25%  791K 0s
    50K .......... .......... .......... .......... .......... 51% 3.83M 0s
   100K .......... .......... .......... .......... .......... 77% 3.60M 0s
   150K .......... .......... .......... .......... ...       100% 8.00M=0.09s

2017-04-19 22:37:21 (1.99 MB/s) - ‘amtrak.zip’ saved [197979/197979]

In [9]:
%%bash
cd gtfs
ls

__MACOSX
agency.txt
calendar.txt
routes.txt
stop_times.txt
stops.txt
transfers.txt
trips.txt

In [10]:
import pandas as pd
import numpy as np
import datetime as dt

In [215]:
agency = pd.read_csv('gtfs/agency.txt')
#calendar_dates = pd.read_csv('gtfs/calendar_dates.txt')
calendar = pd.read_csv('gtfs/calendar.txt')
routes = pd.read_csv('gtfs/routes.txt')
#shapes = pd.read_csv('gtfs/shapes.txt')
stop_times = pd.read_csv('gtfs/stop_times.txt')
stops = pd.read_csv('gtfs/stops.txt')
trips = pd.read_csv('gtfs/trips.txt')

In [216]:
service_trip_id = pd.merge(calendar[['service_id']],trips[['service_id', 'trip_id', 'route_id']])
service_trip_id.head()

   service_id      trip_id  route_id
0     1004722  21001004722        66
1     1004723  21001004723        66
2     1017818  21001017818        66
3     1017820  21001017820        66
4     1004714  21031004714        66

In [217]:
calendar = pd.merge(calendar,service_trip_id)
calendar.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date,trip_id,route_id
0,1004722,0,1,1,1,1,0,0,20170103,20170106,21001004722,66
1,1004723,1,1,1,1,1,0,0,20170109,20170113,21001004723,66
2,1017818,1,1,1,1,1,0,0,20170117,20170217,21001017818,66
3,1017820,1,1,1,1,1,0,0,20170221,20180221,21001017820,66
4,1004714,0,1,1,1,1,0,0,20170103,20170106,21031004714,66

In [218]:
calendar = pd.merge(calendar, routes[['route_id','route_long_name']], on = "route_id")
calendar.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date,trip_id,route_id,route_long_name
0,1004722,0,1,1,1,1,0,0,20170103,20170106,21001004722,66,Acela Express
1,1004723,1,1,1,1,1,0,0,20170109,20170113,21001004723,66,Acela Express
2,1017818,1,1,1,1,1,0,0,20170117,20170217,21001017818,66,Acela Express
3,1017820,1,1,1,1,1,0,0,20170221,20180221,21001017820,66,Acela Express
4,1004714,0,1,1,1,1,0,0,20170103,20170106,21031004714,66,Acela Express

In [219]:
len(np.unique(routes['route_long_name']))

46

In [220]:
np.unique(routes['route_long_name'])

array(['Acela Express', 'Adirondack', 'Amtrak Cascades',
       'Amtrak Thruway Connecting Service', 'Auto Train', 'Blue Water',
       'California Zephyr', 'Capitol Corridor', 'Capitol Limited',
       'Cardinal', 'Carl Sandburg', 'Carolinian', 'City Of New Orleans',
       'Coast Starlight', 'Crescent', 'Downeaster', 'Empire Builder',
       'Empire Service', 'Ethan Allen Express', 'Heartland Flyer',
       'Hiawatha Service', 'Hoosier State', 'Illini', 'Illinois Zephyr',
       'Keystone Service', 'Lake Shore Limited', 'Lincoln Service',
       'Maple Leaf', 'Missouri River Runner', 'Northeast Regional',
       'Pacific Surfliner', 'Palmetto', 'Pennsylvanian', 'Pere Marquette',
       'Piedmont', 'Saluki', 'San Joaquins', 'Shuttle', 'Silver Meteor',
       'Silver Star', 'Southwest Chief', 'Sunset Limited',
       'Temporary Substitute Service For Train', 'Texas Eagle',
       'Vermonter', 'Wolverine'], dtype=object)

In [221]:
date1 = '01/5/2015' ## input date

date2 = dt.datetime.strptime(date1, "%m/%d/%Y").date() + dt.timedelta(1)
date3 = date2 + dt.timedelta(1)
date4 = date3 + dt.timedelta(1)
date5 = date4 + dt.timedelta(1)
date6 = date5 + dt.timedelta(1)
date7 = date6 + dt.timedelta(1)
date8 = date7 + dt.timedelta(1)
date9 = date8 + dt.timedelta(1)
date10 = date9 + dt.timedelta(1)



date2 = date2.strftime("%m/%d/%Y")
date3 = date3.strftime("%m/%d/%Y")
date4 = date4.strftime("%m/%d/%Y")
date5 = date5.strftime("%m/%d/%Y")
date6 = date6.strftime("%m/%d/%Y")
date7 = date7.strftime("%m/%d/%Y")
date8 = date8.strftime("%m/%d/%Y")
date9 = date9.strftime("%m/%d/%Y")
date10 = date10.strftime("%m/%d/%Y")


arbitrary_dates = [date1, date2, date3, date4]

In [222]:
arbitrary_dates

['01/5/2015', '01/06/2015', '01/07/2015', '01/08/2015']

In [223]:
def add_arrival_date(df, dates = arbitrary_dates):
    df = df.copy()
    arrival_date = []
    arrival_time = []

    for i in df['arrival_time']:
        hour = i[:i.find(':')]
        minute = i[i.find(':')+1:i.find(':',4)]
        second = i[i.find(':',5)+1:]
        
        if int(hour) < 24:
            arrival_date.append(dates[0])
            arrival_time.append(i)
        elif 24 <= int(hour) < 48:
            arrival_date.append(dates[1])
            hour = int(hour) - 24
            arrival_time.append(str(hour)+":"+minute+":"+second)
        elif 48 <= int(hour) < 72:
            arrival_date.append(dates[2])
            hour = int(hour) - 48
            arrival_time.append(str(hour)+":"+minute+":"+second)
        elif 72 <= int(hour) < 96:
            arrival_date.append(dates[3])
            hour = int(hour) - 72
            arrival_time.append(str(hour)+":"+minute+":"+second)
        else:
            arrival_date.append('NA')
            
    df['arrival_date'] = arrival_date
    df['arrival_time'] = arrival_time
    return df

In [224]:
def add_departure_date(df, dates = arbitrary_dates):
    df = df.copy()
    departure_date = []
    departure_time = []

    for i in df['departure_time']:
        hour = i[:i.find(':')]
        minute = i[i.find(':')+1:i.find(':',4)]
        second = i[i.find(':',5)+1:]
        
        if int(hour) < 24:
            departure_date.append(dates[0])
            departure_time.append(i)
        elif 24 <= int(hour) < 48:
            departure_date.append(dates[1])
            hour = int(hour) - 24
            departure_time.append(str(hour)+":"+minute+":"+second)
        elif 48 <= int(hour) < 72:
            departure_date.append(dates[2])
            hour = int(hour) - 48
            departure_time.append(str(hour)+":"+minute+":"+second)
        elif 72 <= int(hour) < 96:
            departure_date.append(dates[3])
            hour = int(hour) - 72
            departure_time.append(str(hour)+":"+minute+":"+second)
        else:
            departure_date.append('NA')
            
    df['departure_date'] = departure_date
    df['departure_time'] = departure_time
    return df

In [225]:
monday = calendar[calendar['monday'] == 1]
tuesday = calendar[calendar['tuesday'] == 1]
wednesday = calendar[calendar['wednesday'] == 1]
thursday = calendar[calendar['thursday'] == 1]
friday = calendar[calendar['friday'] == 1]
saturday = calendar[calendar['saturday'] == 1]
sunday = calendar[calendar['sunday'] == 1]

In [226]:
# region_id's for color scheme
# source: https://www.amtrak.com/ccurl/377/988/System-Timetable-040117.pdf

routes_to_region = {
    
    'Acela Express': "Northeast Corridor", 
    'Adirondack': "East",
    'Amtrak Cascades': "Pacific Northwest",
    'Amtrak Thruway Connecting Service': "Connecting Services",
    'Auto Train': "Other",
    'Blue Water': "Midwest" ,
    'California Zephyr': "West",
    'Capitol Corridor': "California Corridor",
    'Capitol Limited': "East",
    'Cardinal': "East",
    'Carl Sandburg': "Midwest", 
    'Carolinian': "East", 
    'City Of New Orleans': "Midwest",
    'Coast Starlight': "West", 
    'Crescent': "East", 
    'Downeaster': "Northeast Corridor", 
    'Empire Builder': "West",
    'Empire Service': "Northeast Corridor", 
    'Ethan Allen Express': "East", 
    'Heartland Flyer': "West",
    'Hiawatha Service': "Midwest", 
    'Hoosier State': "East", 
    'Illini': "Midwest", 
    'Illinois Zephyr': "Midwest",
    'Keystone Service': "Northeast Corridor", 
    'Lake Shore Limited': "East", 
    'Lincoln Service': "Midwest",
    'Maple Leaf': "Northeast Corridor", 
    'Missouri River Runner': "Midwest", 
    'Northeast Regional': "Northeast Corridor",
    'Pacific Surfliner': "California Corridor", 
    'Palmetto': "East", 
    'Pennsylvanian': "East", 
    'Pere Marquette': "Midwest",
    'Piedmont': "East", 
    'Saluki': "Midwest", 
    'San Joaquins': "California Corridor", 
    'Shuttle': "Shuttle",
    'Silver Meteor': "East",
    'Silver Star': "East", 
    'Southwest Chief': "West", 
    'Sunset Limited': "West",
    'Temporary Substitute Service For Train': "Other", 
    'Texas Eagle': "West",
    'Vermonter': "East", 
    'Wolverine': "Midwest"
    
}

routes_to_region = pd.DataFrame(routes_to_region.items(), columns = ['route_name','region_name'])

In [227]:
region_ids = {
    
    "Northeast Corridor": 1,
    "East": 2,
    "Midwest": 3,
    "West": 4,
    "Pacific Northwest": 5,
    "California Corridor": 6,
    "Connecting Services": 7,
    "Shuttle": 8
    
}

region_ids = pd.DataFrame(region_ids.items(), columns = ["region_name", "region_id"])

# Monday

In [228]:
monday_trips = monday['trip_id']
print "There are ", len(monday_trips), "trips on Monday"
monday_trips.head()

There are  1393 trips on Monday

1    21001004723
2    21001017818
3    21001017820
5    21031004715
6    21031017814
Name: trip_id, dtype: int64

In [229]:
monday_trips.tail()

2368    61901020962
2369     6048986898
2370     6049986897
2371     8358985998
2372     8359985997
Name: trip_id, dtype: int64

In [230]:
triplist = []
count = 0

for i in monday_trips:
    count += 1
    df = stop_times[stop_times['trip_id'] == i]
    
    # add arrival and departure dates
    # add arrival and departure dates
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])

    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction and route id
    try:
        df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')
    except:
        pass# df = pd.merge(df, trips[['trip_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    try:
        df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')
    except:
        pass

    legs = pd.DataFrame()
    legs['route_id'] = df['route_id']
    legs['starttime'] = df['departure_datetime']
    
    try:
        legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    except:
        legs['stoptime'] = df['arrival_datetime']
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    
    legs['start_lat'] = df['stop_lat']
    legs['start_lon'] = df['stop_lon']

    if len(legs) > 1:
        legs['end_lat'] = legs['start_lat'].shift(-1).fillna(method='ffill')
        legs['end_lon'] = legs['start_lon'].shift(-1).fillna(method='ffill')
    else:
        legs['end_lat'] = legs['start_lat']
        legs['end_lon'] = legs['start_lon']


    legs['route_name'] = df['route_long_name']
    legs['route_id'] = df['route_id']
    
    # append results to triplist
    triplist.append(legs)
    
    if count % 100 == 0:
        print str(dt.datetime.now()), "finished trip number", count, "/", len(monday_trips)

2017-04-20 03:00:59.120137 finished trip number 100 / 1393
2017-04-20 03:01:03.482311 finished trip number 200 / 1393
2017-04-20 03:01:07.546904 finished trip number 300 / 1393
2017-04-20 03:01:11.470129 finished trip number 400 / 1393
2017-04-20 03:01:15.581183 finished trip number 500 / 1393
2017-04-20 03:01:19.883861 finished trip number 600 / 1393
2017-04-20 03:01:24.364359 finished trip number 700 / 1393
2017-04-20 03:01:29.393321 finished trip number 800 / 1393
2017-04-20 03:01:33.847757 finished trip number 900 / 1393
2017-04-20 03:01:38.221472 finished trip number 1000 / 1393
2017-04-20 03:01:41.951933 finished trip number 1100 / 1393
2017-04-20 03:01:45.471566 finished trip number 1200 / 1393
2017-04-20 03:01:48.963606 finished trip number 1300 / 1393

In [231]:
data = pd.concat(triplist)
data = data[data.tripduration != 0]
data = data[data.start_lat != 0]
data = data[data.start_lon != 0]
data = data.sort_values(by='starttime')
data = data.reset_index(drop=True)

In [232]:
data.head(5)

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name
0,42,2015-01-05 03:10:00,2015-01-05 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service
1,88,2015-01-05 03:15:00,2015-01-05 03:38:00,1380,38.896993,-77.006422,39.192362,-76.694300,Northeast Regional
2,88,2015-01-05 03:15:00,2015-01-05 03:38:00,1380,38.896993,-77.006422,39.192362,-76.694300,Northeast Regional
3,88,2015-01-05 03:15:00,2015-01-05 03:38:00,1380,38.896993,-77.006422,39.192362,-76.694300,Northeast Regional
4,88,2015-01-05 03:15:00,2015-01-05 03:38:00,1380,38.896993,-77.006422,39.192362,-76.694300,Northeast Regional

In [233]:
data.shape

(15140, 9)

In [234]:
len(np.unique(data.route_name))

44

In [235]:
np.unique(data.route_name)

array(['Acela Express', 'Adirondack', 'Amtrak Cascades',
       'Amtrak Thruway Connecting Service', 'Auto Train', 'Blue Water',
       'California Zephyr', 'Capitol Corridor', 'Capitol Limited',
       'Carl Sandburg', 'Carolinian', 'City Of New Orleans',
       'Coast Starlight', 'Crescent', 'Downeaster', 'Empire Builder',
       'Empire Service', 'Ethan Allen Express', 'Heartland Flyer',
       'Hiawatha Service', 'Hoosier State', 'Illini', 'Illinois Zephyr',
       'Keystone Service', 'Lake Shore Limited', 'Lincoln Service',
       'Maple Leaf', 'Missouri River Runner', 'Northeast Regional',
       'Pacific Surfliner', 'Palmetto', 'Pennsylvanian', 'Pere Marquette',
       'Piedmont', 'Saluki', 'San Joaquins', 'Shuttle', 'Silver Meteor',
       'Silver Star', 'Southwest Chief',
       'Temporary Substitute Service For Train', 'Texas Eagle',
       'Vermonter', 'Wolverine'], dtype=object)

In [236]:
data = pd.merge(data, routes_to_region)

In [237]:
data = pd.merge(data, region_ids)

In [238]:
data.to_csv("amtrak_1_monday.csv")

In [239]:
data.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,42,2015-01-05 03:10:00,2015-01-05 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service,Connecting Services,7
1,42,2015-01-05 04:25:00,2015-01-05 04:45:00,1200,33.656771,-117.733695,33.751629,-117.856607,Amtrak Thruway Connecting Service,Connecting Services,7
2,42,2015-01-05 04:45:00,2015-01-05 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
3,42,2015-01-05 04:45:00,2015-01-05 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
4,42,2015-01-05 04:45:00,2015-01-05 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7

# Tuesday

In [240]:
tuesday_trips = tuesday['trip_id']
print "There are ", len(tuesday_trips), "trips on Tuesday"
tuesday_trips.head()

There are  1218 trips on Tuesday

0    21001004722
1    21001004723
2    21001017818
3    21001017820
4    21031004714
Name: trip_id, dtype: int64

In [241]:
arbitrary_dates = [date2, date3, date4, date5]

In [242]:
triplist = []
count = 0

for i in tuesday_trips:
    count += 1
    df = stop_times[stop_times['trip_id'] == i]
    
    # add arrival and departure dates
    # add arrival and departure dates
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])

    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction and route id
    try:
        df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')
    except:
        pass# df = pd.merge(df, trips[['trip_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    try:
        df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')
    except:
        pass

    legs = pd.DataFrame()
    legs['route_id'] = df['route_id']
    legs['starttime'] = df['departure_datetime']
    
    try:
        legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    except:
        legs['stoptime'] = df['arrival_datetime']
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    
    legs['start_lat'] = df['stop_lat']
    legs['start_lon'] = df['stop_lon']

    if len(legs) > 1:
        legs['end_lat'] = legs['start_lat'].shift(-1).fillna(method='ffill')
        legs['end_lon'] = legs['start_lon'].shift(-1).fillna(method='ffill')
    else:
        legs['end_lat'] = legs['start_lat']
        legs['end_lon'] = legs['start_lon']


    legs['route_name'] = df['route_long_name']
    legs['route_id'] = df['route_id']
    
    # append results to triplist
    triplist.append(legs)
    
    if count % 100 == 0:
        print str(dt.datetime.now()), "finished trip number", count, "/", len(monday_trips)

2017-04-20 03:01:58.322557 finished trip number 100 / 1393
2017-04-20 03:02:03.223324 finished trip number 200 / 1393
2017-04-20 03:02:07.997436 finished trip number 300 / 1393
2017-04-20 03:02:11.686627 finished trip number 400 / 1393
2017-04-20 03:02:16.181035 finished trip number 500 / 1393
2017-04-20 03:02:20.764918 finished trip number 600 / 1393
2017-04-20 03:02:24.736653 finished trip number 700 / 1393
2017-04-20 03:02:29.546869 finished trip number 800 / 1393
2017-04-20 03:02:33.612724 finished trip number 900 / 1393
2017-04-20 03:02:37.012665 finished trip number 1000 / 1393
2017-04-20 03:02:40.877325 finished trip number 1100 / 1393
2017-04-20 03:02:44.314869 finished trip number 1200 / 1393

In [243]:
data = pd.concat(triplist)
data = data[data.tripduration != 0]
data = data[data.start_lat != 0]
data = data[data.start_lon != 0]
data = data.sort_values(by='starttime')
data = data.reset_index(drop=True)

data = pd.merge(data, routes_to_region)
data = pd.merge(data, region_ids)

In [244]:
data.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,42,2015-01-06 03:10:00,2015-01-06 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service,Connecting Services,7
1,42,2015-01-06 04:45:00,2015-01-06 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
2,42,2015-01-06 04:45:00,2015-01-06 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
3,12,2015-01-06 05:00:00,2015-01-06 07:00:00,7200,37.724235,-89.216628,38.624461,-90.203838,Amtrak Thruway Connecting Service,Connecting Services,7
4,42,2015-01-06 05:05:00,2015-01-06 05:45:00,2400,33.868969,-117.922849,34.056177,-118.236778,Amtrak Thruway Connecting Service,Connecting Services,7

In [246]:
data.to_csv("amtrak_2_tuesday.csv")

# Wednesday

In [247]:
wednesday_trips = wednesday['trip_id']
print "There are ", len(wednesday_trips), "trips on Wednesday"
wednesday_trips.head()

There are  1257 trips on Wednesday

0    21001004722
1    21001004723
2    21001017818
3    21001017820
4    21031004714
Name: trip_id, dtype: int64

In [248]:
arbitrary_dates = [date3, date4, date5, date6]

In [249]:
triplist = []
count = 0

for i in wednesday_trips:
    count += 1
    df = stop_times[stop_times['trip_id'] == i]
    
    # add arrival and departure dates
    # add arrival and departure dates
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])

    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction and route id
    try:
        df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')
    except:
        pass# df = pd.merge(df, trips[['trip_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    try:
        df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')
    except:
        pass

    legs = pd.DataFrame()
    legs['route_id'] = df['route_id']
    legs['starttime'] = df['departure_datetime']
    
    try:
        legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    except:
        legs['stoptime'] = df['arrival_datetime']
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    
    legs['start_lat'] = df['stop_lat']
    legs['start_lon'] = df['stop_lon']

    if len(legs) > 1:
        legs['end_lat'] = legs['start_lat'].shift(-1).fillna(method='ffill')
        legs['end_lon'] = legs['start_lon'].shift(-1).fillna(method='ffill')
    else:
        legs['end_lat'] = legs['start_lat']
        legs['end_lon'] = legs['start_lon']


    legs['route_name'] = df['route_long_name']
    legs['route_id'] = df['route_id']
    
    # append results to triplist
    triplist.append(legs)
    
    if count % 100 == 0:
        print str(dt.datetime.now()), "finished trip number", count, "/", len(monday_trips)

2017-04-20 03:02:51.629979 finished trip number 100 / 1393
2017-04-20 03:02:55.794049 finished trip number 200 / 1393
2017-04-20 03:03:01.385338 finished trip number 300 / 1393
2017-04-20 03:03:06.403620 finished trip number 400 / 1393
2017-04-20 03:03:11.170174 finished trip number 500 / 1393
2017-04-20 03:03:16.247349 finished trip number 600 / 1393
2017-04-20 03:03:21.415049 finished trip number 700 / 1393
2017-04-20 03:03:26.682338 finished trip number 800 / 1393
2017-04-20 03:03:31.233095 finished trip number 900 / 1393
2017-04-20 03:03:35.327000 finished trip number 1000 / 1393
2017-04-20 03:03:39.402510 finished trip number 1100 / 1393
2017-04-20 03:03:43.362911 finished trip number 1200 / 1393

In [250]:
data = pd.concat(triplist)
data = data[data.tripduration != 0]
data = data[data.start_lat != 0]
data = data[data.start_lon != 0]
data = data.sort_values(by='starttime')
data = data.reset_index(drop=True)

data = pd.merge(data, routes_to_region)
data = pd.merge(data, region_ids)

In [251]:
data.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,42,2015-01-07 03:10:00,2015-01-07 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service,Connecting Services,7
1,42,2015-01-07 04:45:00,2015-01-07 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
2,42,2015-01-07 04:45:00,2015-01-07 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
3,12,2015-01-07 05:00:00,2015-01-07 07:00:00,7200,37.724235,-89.216628,38.624461,-90.203838,Amtrak Thruway Connecting Service,Connecting Services,7
4,42,2015-01-07 05:05:00,2015-01-07 05:45:00,2400,33.868969,-117.922849,34.056177,-118.236778,Amtrak Thruway Connecting Service,Connecting Services,7

In [253]:
data.to_csv("amtrak_3_wednesday.csv")

# Thursday

In [254]:
thursday_trips = thursday['trip_id']
print "There are ", len(thursday_trips), "trips on Thursday"
thursday_trips.head()

There are  1289 trips on Thursday

0    21001004722
1    21001004723
2    21001017818
3    21001017820
4    21031004714
Name: trip_id, dtype: int64

In [255]:
arbitrary_dates = [date4, date5, date6, date7]

In [256]:
triplist = []
count = 0

for i in thursday_trips:
    count += 1
    df = stop_times[stop_times['trip_id'] == i]
    
    # add arrival and departure dates
    # add arrival and departure dates
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])

    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction and route id
    try:
        df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')
    except:
        pass# df = pd.merge(df, trips[['trip_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    try:
        df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')
    except:
        pass

    legs = pd.DataFrame()
    legs['route_id'] = df['route_id']
    legs['starttime'] = df['departure_datetime']
    
    try:
        legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    except:
        legs['stoptime'] = df['arrival_datetime']
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    
    legs['start_lat'] = df['stop_lat']
    legs['start_lon'] = df['stop_lon']

    if len(legs) > 1:
        legs['end_lat'] = legs['start_lat'].shift(-1).fillna(method='ffill')
        legs['end_lon'] = legs['start_lon'].shift(-1).fillna(method='ffill')
    else:
        legs['end_lat'] = legs['start_lat']
        legs['end_lon'] = legs['start_lon']


    legs['route_name'] = df['route_long_name']
    legs['route_id'] = df['route_id']
    
    # append results to triplist
    triplist.append(legs)
    
    if count % 100 == 0:
        print str(dt.datetime.now()), "finished trip number", count, "/", len(monday_trips)

2017-04-20 03:03:55.014378 finished trip number 100 / 1393
2017-04-20 03:04:00.815803 finished trip number 200 / 1393
2017-04-20 03:04:06.530194 finished trip number 300 / 1393
2017-04-20 03:04:13.020724 finished trip number 400 / 1393
2017-04-20 03:04:18.928214 finished trip number 500 / 1393
2017-04-20 03:04:25.632990 finished trip number 600 / 1393
2017-04-20 03:04:30.495823 finished trip number 700 / 1393
2017-04-20 03:04:36.340360 finished trip number 800 / 1393
2017-04-20 03:04:41.692179 finished trip number 900 / 1393
2017-04-20 03:04:45.455608 finished trip number 1000 / 1393
2017-04-20 03:04:49.055020 finished trip number 1100 / 1393
2017-04-20 03:04:52.583377 finished trip number 1200 / 1393

In [257]:
data = pd.concat(triplist)
data = data[data.tripduration != 0]
data = data[data.start_lat != 0]
data = data[data.start_lon != 0]
data = data.sort_values(by='starttime')
data = data.reset_index(drop=True)

data = pd.merge(data, routes_to_region)
data = pd.merge(data, region_ids)

In [258]:
data.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,42,2015-01-08 03:10:00,2015-01-08 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service,Connecting Services,7
1,42,2015-01-08 04:25:00,2015-01-08 04:45:00,1200,33.656771,-117.733695,33.751629,-117.856607,Amtrak Thruway Connecting Service,Connecting Services,7
2,42,2015-01-08 04:45:00,2015-01-08 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
3,42,2015-01-08 04:45:00,2015-01-08 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
4,42,2015-01-08 04:45:00,2015-01-08 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7

In [259]:
data.to_csv("amtrak_4_thursday.csv")

# Friday

In [260]:
friday_trips = friday['trip_id']
print "There are ", len(friday_trips), "trips on Friday"
friday_trips.head()

There are  1337 trips on Friday

0    21001004722
1    21001004723
2    21001017818
3    21001017820
4    21031004714
Name: trip_id, dtype: int64

In [261]:
arbitrary_dates = [date5, date6, date7, date8]

In [262]:
triplist = []
count = 0

for i in friday_trips:
    count += 1
    df = stop_times[stop_times['trip_id'] == i]
    
    # add arrival and departure dates
    # add arrival and departure dates
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])

    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction and route id
    try:
        df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')
    except:
        pass# df = pd.merge(df, trips[['trip_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    try:
        df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')
    except:
        pass

    legs = pd.DataFrame()
    legs['route_id'] = df['route_id']
    legs['starttime'] = df['departure_datetime']
    
    try:
        legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    except:
        legs['stoptime'] = df['arrival_datetime']
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    
    legs['start_lat'] = df['stop_lat']
    legs['start_lon'] = df['stop_lon']

    if len(legs) > 1:
        legs['end_lat'] = legs['start_lat'].shift(-1).fillna(method='ffill')
        legs['end_lon'] = legs['start_lon'].shift(-1).fillna(method='ffill')
    else:
        legs['end_lat'] = legs['start_lat']
        legs['end_lon'] = legs['start_lon']


    legs['route_name'] = df['route_long_name']
    legs['route_id'] = df['route_id']
    
    # append results to triplist
    triplist.append(legs)
    
    if count % 100 == 0:
        print str(dt.datetime.now()), "finished trip number", count, "/", len(monday_trips)

2017-04-20 03:05:02.767903 finished trip number 100 / 1393
2017-04-20 03:05:06.671115 finished trip number 200 / 1393
2017-04-20 03:05:10.921814 finished trip number 300 / 1393
2017-04-20 03:05:15.019593 finished trip number 400 / 1393
2017-04-20 03:05:19.818246 finished trip number 500 / 1393
2017-04-20 03:05:24.245627 finished trip number 600 / 1393
2017-04-20 03:05:28.445776 finished trip number 700 / 1393
2017-04-20 03:05:32.752267 finished trip number 800 / 1393
2017-04-20 03:05:37.244757 finished trip number 900 / 1393
2017-04-20 03:05:40.864886 finished trip number 1000 / 1393
2017-04-20 03:05:44.440073 finished trip number 1100 / 1393
2017-04-20 03:05:47.776255 finished trip number 1200 / 1393
2017-04-20 03:05:50.863074 finished trip number 1300 / 1393

In [263]:
data = pd.concat(triplist)
data = data[data.tripduration != 0]
data = data[data.start_lat != 0]
data = data[data.start_lon != 0]
data = data.sort_values(by='starttime')
data = data.reset_index(drop=True)

data = pd.merge(data, routes_to_region)
data = pd.merge(data, region_ids)

In [264]:
data.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,42,2015-01-09 03:10:00,2015-01-09 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service,Connecting Services,7
1,42,2015-01-09 04:45:00,2015-01-09 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
2,42,2015-01-09 04:45:00,2015-01-09 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
3,42,2015-01-09 04:45:00,2015-01-09 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
4,12,2015-01-09 05:00:00,2015-01-09 07:00:00,7200,37.724235,-89.216628,38.624461,-90.203838,Amtrak Thruway Connecting Service,Connecting Services,7

In [265]:
data.to_csv("amtrak_5_friday.csv")

# Saturday

In [266]:
saturday_trips = saturday['trip_id']
print "There are ", len(saturday_trips), "trips on Saturday"
saturday_trips.head()

There are  963 trips on Saturday

130     2201985090
131    22031017944
133    22031017946
141    22071017953
143    22071017955
Name: trip_id, dtype: int64

In [267]:
arbitrary_dates = [date6, date7, date8, date9]

In [268]:
triplist = []
count = 0

for i in friday_trips:
    count += 1
    df = stop_times[stop_times['trip_id'] == i]
    
    # add arrival and departure dates
    # add arrival and departure dates
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])

    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction and route id
    try:
        df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')
    except:
        pass# df = pd.merge(df, trips[['trip_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    try:
        df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')
    except:
        pass

    legs = pd.DataFrame()
    legs['route_id'] = df['route_id']
    legs['starttime'] = df['departure_datetime']
    
    try:
        legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    except:
        legs['stoptime'] = df['arrival_datetime']
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    
    legs['start_lat'] = df['stop_lat']
    legs['start_lon'] = df['stop_lon']

    if len(legs) > 1:
        legs['end_lat'] = legs['start_lat'].shift(-1).fillna(method='ffill')
        legs['end_lon'] = legs['start_lon'].shift(-1).fillna(method='ffill')
    else:
        legs['end_lat'] = legs['start_lat']
        legs['end_lon'] = legs['start_lon']


    legs['route_name'] = df['route_long_name']
    legs['route_id'] = df['route_id']
    
    # append results to triplist
    triplist.append(legs)
    
    if count % 100 == 0:
        print str(dt.datetime.now()), "finished trip number", count, "/", len(monday_trips)

2017-04-20 03:05:57.389018 finished trip number 100 / 1393
2017-04-20 03:06:01.174590 finished trip number 200 / 1393
2017-04-20 03:06:05.412199 finished trip number 300 / 1393
2017-04-20 03:06:08.849872 finished trip number 400 / 1393
2017-04-20 03:06:13.475869 finished trip number 500 / 1393
2017-04-20 03:06:18.741475 finished trip number 600 / 1393
2017-04-20 03:06:23.969522 finished trip number 700 / 1393
2017-04-20 03:06:28.705039 finished trip number 800 / 1393
2017-04-20 03:06:32.809898 finished trip number 900 / 1393
2017-04-20 03:06:36.239082 finished trip number 1000 / 1393
2017-04-20 03:06:39.905747 finished trip number 1100 / 1393
2017-04-20 03:06:43.387165 finished trip number 1200 / 1393
2017-04-20 03:06:46.759040 finished trip number 1300 / 1393

In [269]:
data = pd.concat(triplist)
data = data[data.tripduration != 0]
data = data[data.start_lat != 0]
data = data[data.start_lon != 0]
data = data.sort_values(by='starttime')
data = data.reset_index(drop=True)

data = pd.merge(data, routes_to_region)
data = pd.merge(data, region_ids)

In [270]:
data.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,42,2015-01-10 03:10:00,2015-01-10 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service,Connecting Services,7
1,42,2015-01-10 04:45:00,2015-01-10 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
2,42,2015-01-10 04:45:00,2015-01-10 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
3,42,2015-01-10 04:45:00,2015-01-10 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
4,12,2015-01-10 05:00:00,2015-01-10 07:00:00,7200,37.724235,-89.216628,38.624461,-90.203838,Amtrak Thruway Connecting Service,Connecting Services,7

In [271]:
data.to_csv("amtrak_6_saturday.csv")

# Sunday

In [272]:
sunday_trips = sunday['trip_id']
print "There are ", len(sunday_trips), "trips on Sunday"
sunday_trips.head()

There are  1110 trips on Sunday

132    22031017945
134    22031017947
135    22031017948
136    22051017294
138    22051017949
Name: trip_id, dtype: int64

In [273]:
arbitrary_dates = [date7, date8, date9, date10]

In [274]:
triplist = []
count = 0

for i in friday_trips:
    count += 1
    df = stop_times[stop_times['trip_id'] == i]
    
    # add arrival and departure dates
    # add arrival and departure dates
    df = add_arrival_date(df, dates = arbitrary_dates)
    df = add_departure_date(df, dates = arbitrary_dates)
    df['arrival_datetime'] = pd.to_datetime(df['arrival_date'] + ' ' + df['arrival_time'])
    df['departure_datetime'] = pd.to_datetime(df['departure_date'] + ' ' + df['departure_time'])

    # join df with stops
    df = pd.merge(df, stops[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']],left_on='stop_id', right_on='stop_id')

    # join df with trips to get direction and route id
    try:
        df = pd.merge(df, trips[['trip_id', 'direction_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')
    except:
        pass# df = pd.merge(df, trips[['trip_id', 'route_id']], left_on='trip_id', right_on='trip_id', how='left')

    # join df with routes to get route id
    try:
        df = pd.merge(df, routes[['route_id', 'route_long_name']], left_on='route_id', right_on='route_id', how='left')
    except:
        pass

    legs = pd.DataFrame()
    legs['route_id'] = df['route_id']
    legs['starttime'] = df['departure_datetime']
    
    try:
        legs['stoptime'] = df['arrival_datetime'].shift(-1).fillna(method='ffill')
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    except:
        legs['stoptime'] = df['arrival_datetime']
        legs['tripduration'] = ((legs['stoptime'] - legs['starttime'])/np.timedelta64(1, 's')).astype(int)
    
    legs['start_lat'] = df['stop_lat']
    legs['start_lon'] = df['stop_lon']

    if len(legs) > 1:
        legs['end_lat'] = legs['start_lat'].shift(-1).fillna(method='ffill')
        legs['end_lon'] = legs['start_lon'].shift(-1).fillna(method='ffill')
    else:
        legs['end_lat'] = legs['start_lat']
        legs['end_lon'] = legs['start_lon']


    legs['route_name'] = df['route_long_name']
    legs['route_id'] = df['route_id']
    
    # append results to triplist
    triplist.append(legs)
    
    if count % 100 == 0:
        print str(dt.datetime.now()), "finished trip number", count, "/", len(monday_trips)

2017-04-20 03:06:53.782805 finished trip number 100 / 1393
2017-04-20 03:06:57.704629 finished trip number 200 / 1393
2017-04-20 03:07:02.038895 finished trip number 300 / 1393
2017-04-20 03:07:06.140997 finished trip number 400 / 1393
2017-04-20 03:07:10.940119 finished trip number 500 / 1393
2017-04-20 03:07:16.824076 finished trip number 600 / 1393
2017-04-20 03:07:24.538342 finished trip number 700 / 1393
2017-04-20 03:07:29.754412 finished trip number 800 / 1393
2017-04-20 03:07:34.817056 finished trip number 900 / 1393
2017-04-20 03:07:38.906080 finished trip number 1000 / 1393
2017-04-20 03:07:42.722068 finished trip number 1100 / 1393
2017-04-20 03:07:46.571598 finished trip number 1200 / 1393
2017-04-20 03:07:49.582167 finished trip number 1300 / 1393

In [275]:
data = pd.concat(triplist)
data = data[data.tripduration != 0]
data = data[data.start_lat != 0]
data = data[data.start_lon != 0]
data = data.sort_values(by='starttime')
data = data.reset_index(drop=True)

data = pd.merge(data, routes_to_region)
data = pd.merge(data, region_ids)

In [276]:
data.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,42,2015-01-11 03:10:00,2015-01-11 03:35:00,1500,37.840474,-122.291615,37.789232,-122.392366,Amtrak Thruway Connecting Service,Connecting Services,7
1,42,2015-01-11 04:45:00,2015-01-11 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
2,42,2015-01-11 04:45:00,2015-01-11 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
3,42,2015-01-11 04:45:00,2015-01-11 05:05:00,1200,33.751629,-117.856607,33.868969,-117.922849,Amtrak Thruway Connecting Service,Connecting Services,7
4,12,2015-01-11 05:00:00,2015-01-11 07:00:00,7200,37.724235,-89.216628,38.624461,-90.203838,Amtrak Thruway Connecting Service,Connecting Services,7

In [277]:
data.to_csv("amtrak_7_sunday.csv")

# Combine all of the days

In [321]:
%%bash

ls

Amtrak Data Wrangling.ipynb
Amtrak Trips After Trump.ipynb
amtrak_1_monday.csv
amtrak_2_tuesday.csv
amtrak_3_wednesday.csv
amtrak_4_thursday.csv
amtrak_5_friday.csv
amtrak_6_saturday.csv
amtrak_7_sunday.csv
amtrak_week.csv
gtfs
output.csv
sketch
sketch1
sketch2
test.csv

In [279]:
%%bash

OutFileName="amtrak_week.csv"                       # Fix the output name
i=0                                       # Reset a counter
for filename in ./*.csv; do 
 if [ "$filename"  != "$OutFileName" ] ;      # Avoid recursion 
 then 
   if [[ $i -eq 0 ]] ; then 
      head -1  $filename >   $OutFileName # Copy header if it is the first file
   fi
   tail -n +2  $filename >>  $OutFileName # Append from the 2nd line each file
   i=$(( $i + 1 ))                        # Increase the counter
 fi
done

In [322]:
output_before = pd.read_csv("amtrak_week.csv")
del output_before['Unnamed: 0']
output_before = output_before.sort_values(by=['route_name','starttime'])
output_before = output_before.reset_index(drop=True)

In [323]:
output_before.head()

,route_id,starttime,stoptime,tripduration,start_lat,start_lon,end_lat,end_lon,route_name,region_name,region_id
0,66,2015-01-05 05:00:00,2015-01-05 05:29:00,1740,38.896993,-77.006422,39.307302,-76.615688,Acela Express,Northeast Corridor,1
1,66,2015-01-05 05:00:00,2015-01-05 05:29:00,1740,38.896993,-77.006422,39.307302,-76.615688,Acela Express,Northeast Corridor,1
2,66,2015-01-05 05:00:00,2015-01-05 05:29:00,1740,38.896993,-77.006422,39.307302,-76.615688,Acela Express,Northeast Corridor,1
3,66,2015-01-05 05:05:00,2015-01-05 05:10:00,300,42.352311,-71.055304,42.347317,-71.075828,Acela Express,Northeast Corridor,1
4,66,2015-01-05 05:05:00,2015-01-05 05:10:00,300,42.352311,-71.055304,42.347317,-71.075828,Acela Express,Northeast Corridor,1

In [324]:
output_before.to_csv("output_before.csv")